<div class="d-flex align-items-center">
  <h1>掲示板作成</h1>
  <div class="ml-auto bords__linkBox">
    <%= link_to '一覧', bords_path, class: 'btn btn-outline-dark' %>
  </div>
</div>

<%= render partial: 'form', locals: { bord: @bord} %>